body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(54, 4, 134);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrapper {
    max-width: 1024px;
    margin: 0 auto 0 auto;
    padding:15px 15px 15px 30px;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(210, 75, 236);
    text-align: center;
    position: fixed; 
    left: 0px;
    top: 0px;
    color: white;
    padding-top: 0.5cm;
    font-size: larger;
}

.banner {
    height: 500px;
    background-image: url(/../Kodego/htmlcss/images/Navy\ and\ Purple\ Modern\ Digital\ Creative\ Business\ Banner\ \(3\).png);
    background-size: cover; 
}

h1{
    color: yellow;
    text-shadow: 500cm black;
    text-align: center  ;
    padding-top: 20px;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
    color: yellow;
    margin: 40px;
}

section.about-me{
    margin-top: 40px;
}

section.my-portfolio div.d-inline{
    height: 500px;
    border: solid rgb(54, 4, 134);
    background-color: rgb(46, 0, 105);
}

section.my-portfolio div.d-inline p {

    margin: 0.5cm 0.2cm 0.5cm 0.2cm;

}

.work-content{
    color:  white;
    font-size: 17px;
}

.about-me p {
    font-size: 17px;
    line-height: 21px;
    color: white;
}

img.about-me {
    align-items: center;
    text-align: center;

}

.d-none {
    width:200px;
    display: inline;
    background-color: aqua;
}

.d-inline {
    width:236px;
    display: inline;
    background-color: solid rgb(46, 0, 105);
}

ul { 
    font-size: 21px;
    line-height: 21px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.with-direction>div{
    width: 236px;
    height: 40px;
}

.d-flex.with-direction {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: solid rgb(46, 0, 105);
    text-align: center;
    color: white;
}
    

footer {
    text-align: center;
    padding-top: 1cm;
}

.basic-grid, .advance-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    background: white;
    gap: 5px;
    padding: 5px;
}

.advance-grid {
    grid-template-columns: auto auto auto auto auto;
}

.basic-grid>div, .advance-grid>div{
    border: 1px solid rgb(19, 0, 0);
    text-align: center;
    line-height: 52px;
    padding: 15px;
    box-shadow: 5px 10px gray;
}

.basic-grid .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.basic-grid .item6 { grid-column: 2 / 4;
}

.basic-grid .item5{
    grid-row-start: 2;
    grid-row-end: 4;
}

.advance-grid .item7 {
    grid-area: 1 / 2 / 3 / 5;
}

.advance-grid .item5 {
    grid-area: 3 / 3 / 5 / 5;
}

.advance-grid .item10 {
    grid-column: 1/3;
}

.advance-grid .item2 {
    grid-row: 1/3;
}

.Grid1, .Grid2 {
    display:grid;
    grid-template-columns: auto auto auto auto;
    background: rgb(248, 240, 191);
}

.Grid2 {
    grid-template-columns: auto auto auto auto auto auto;
}

.Grid1>div, .Grid2>div{
    border: 2px solid rgb(255, 166, 0);
    text-align: center;
    line-height: 52px;
    padding: 15px;
}

.Grid1 .item1 {
     grid-row: 1/3;
    }

.Grid1 .item10 {
     grid-row: 3/5;
    }

.Grid1 .item3 {
    grid-column: 3/5;
    }

.Grid1 .item8 {
    grid-column: 3/5;
    }

.Grid2 .item5 {
    grid-column: 5/7;
    }

.Grid2 .item8 {
    grid-area: 2/2/5/4;
    }

.Grid2 .item9 {
    grid-area: 2/4/5/6;
    }